In [43]:
import pandas as pd
import numpy as np
import seaborn as sns
import pickle
import os
import warnings
from matplotlib import pyplot as plt
from matplotlib import axes
warnings.simplefilter(action='ignore')
%matplotlib inline

In [44]:
sns.set()
plt.style.use('seaborn-poster')

In [45]:
def load_error_df(model, prov, year, month):
    # load the data
    folder = '../../output/monthly_forecasts/' + model + '/' + 'prov_' + str(prov) + '_monthly/'
    file = 'prov_' + str(prov) + '_' + str(year) + '_' + str(month) + '_monthly_errors.csv'
    error_df = pd.read_csv(folder + file)
    
    return error_df

In [46]:
load_error_df('default_prophet', 10, 2014, 1)

         error  month  year
0   332.458061      1  2014
1   237.809960      2  2014
2   244.302524      3  2014
3   260.236466      4  2014
4   405.132748      5  2014
5   564.599557      6  2014
6   573.029812      7  2014
7   669.854855      8  2014
8   440.767754      9  2014
9   574.700471     10  2014
10  549.365060     11  2014
11  423.391359     12  2014

In [49]:
all_errors = []
for year in range(2008, 2017):
    for month in range(1,13):
        error_df = load_error_df('default_prophet', 10, year, month)
        error = np.array(error_df['error'])
        all_errors.append(error)
        
error_array = np.array(all_errors)

print(error_array.shape)

(108, 12)

In [52]:
avg_error_each_step = np.mean(error_array, axis=0)
# look at something other than mean, min, sd, quantile, etc
avg_error_each_step

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

What I did above was:

- took the 12 months of errors for each forecast and put them into an array
- first column is one step ahead, second is two steps, etc
- found the average of each column

So the error did not change significantly depending on how many steps ahead I was forecasting...?

This is only for monthly targets though

In [30]:
blah = pd.Series([1.4])

if type(blah) == float:
    cases_df = float(blah)
else:
    cases_df = 0.

#print(blah[0].dtype)
print(cases_df)
print(type(blah))
print(blah)
#print(float(blah[0]))

print(blah.shape)

0.0
<class 'pandas.core.series.Series'>
Series([], dtype: float64)
(0,)