In [11]:
import pandas as pd
import numpy as np
import pickle
from datetime import datetime
from scipy.interpolate import UnivariateSpline
from fbprophet import Prophet
import seaborn as sns
import warnings
warnings.simplefilter(action='ignore')
import matplotlib.pyplot as plt
%matplotlib inline

Load in the historical data

In [8]:
with open('../../output/cv_df_list_prospective_monthly.pkl', 'rb') as file:
    data_file = pickle.load(file)

k = 8
prov = 10

input_data = data_file[k]
input_data['year_month'] = (input_data['date_sick_year']-2006)*12 + (input_data['month'])

df = input_data.loc[input_data['province'] == prov]
df.tail()

       date_sick_year  month  province  cases  date_sick  year_month
46236            2014      8        10  216.0   2014-8-1         104
46311            2014      9        10  319.0   2014-9-1         105
46384            2014     10        10  387.0  2014-10-1         106
46456            2014     11        10  447.0  2014-11-1         107
46527            2014     12        10  271.0  2014-12-1         108

Make the Prophet forecast for plotting

In [12]:
date_sick = np.array(data['date_sick'])
year = np.array(data['date_sick_year'])
cases = np.array(data['cases'])

df = pd.DataFrame(list(zip(date_sick, cases)), columns=['ds', 'y'])

# fit the prophet model
model = Prophet(interval_width=0.95, yearly_seasonality=True, weekly_seasonality=False, daily_seasonality=False)
model.fit(df)

# extend the dataframe and get the predictions
future_dates = model.make_future_dataframe(periods=12, freq='M')
past_and_forecast = model.predict(future_dates)
forecast = past_and_forecast.tail(12)

In [13]:
forecast

,ds,trend,trend_lower,trend_upper,yhat_lower,yhat_upper,seasonal,seasonal_lower,seasonal_upper,seasonalities,seasonalities_lower,seasonalities_upper,yearly,yearly_lower,yearly_upper,yhat
108,2014-12-31,503.683083,503.681724,503.684295,-72.551096,837.169922,-119.101689,-119.101689,-119.101689,-119.101689,-119.101689,-119.101689,-119.101689,-119.101689,-119.101689,384.581394
109,2015-01-31,502.502058,502.497156,502.506387,-226.809357,705.175217,-251.738657,-251.738657,-251.738657,-251.738657,-251.738657,-251.738657,-251.738657,-251.738657,-251.738657,250.763401
110,2015-02-28,501.435327,501.426176,501.443306,-240.560676,694.452692,-277.458729,-277.458729,-277.458729,-277.458729,-277.458729,-277.458729,-277.458729,-277.458729,-277.458729,223.976597
111,2015-03-31,500.254302,500.241006,500.266917,-284.999862,625.344352,-310.510274,-310.510274,-310.510274,-310.510274,-310.510274,-310.510274,-310.510274,-310.510274,-310.510274,189.744028
112,2015-04-30,499.111376,499.093451,499.128305,-138.786136,783.698414,-168.455538,-168.455538,-168.455538,-168.455538,-168.455538,-168.455538,-168.455538,-168.455538,-168.455538,330.655838
113,2015-05-31,497.930351,497.906276,497.951335,67.664323,995.524624,20.917863,20.917863,20.917863,20.917863,20.917863,20.917863,20.917863,20.917863,20.917863,518.848214
114,2015-06-30,496.787425,496.757385,496.813856,153.881236,1057.084994,128.024678,128.024678,128.024678,128.024678,128.024678,128.024678,128.024678,128.024678,128.024678,624.812102
115,2015-07-31,495.606400,495.570611,495.639973,232.966201,1146.045594,194.800638,194.800638,194.800638,194.800638,194.800638,194.800638,194.800638,194.800638,194.800638,690.407039
116,2015-08-31,494.425376,494.383317,494.466085,111.571430,1050.841439,104.211608,104.211608,104.211608,104.211608,104.211608,104.211608,104.211608,104.211608,104.211608,598.636983
117,2015-09-30,493.282449,493.232355,493.330989,280.212426,1218.302909,289.067043,289.067043,289.067043,289.067043,289.067043,289.067043,289.067043,289.067043,289.067043,782.349493
118,2015-10-31,492.101425,492.042642,492.156690,341.141471,1248.546674,321.395086,321.395086,321.395086,321.395086,321.395086,321.395086,321.395086,321.395086,321.395086,813.496511
119,2015-11-30,490.958498,490.894846,491.019537,67.246256,1006.001690,37.759212,37.759212,37.759212,37.759212,37.759212,37.759212,37.759212,37.759212,37.759212,528.717710